wb_screen=1
screen_mode=1342640896
screen_width=1280
screen_height=960
screen_depth=24
backdrop=1
path_project=Eigenes:HornyProj
path_midi=Eigenes:MIDI
path_sysex=Eigenes:HornyProj
path_phonolith=Eigenes:Phonolith/bin/gcc-amigaos4-latest/Phonolith
start_project=PROGDIR:System/Autoload.horny
start_project_active=1
keyboard_type=1
mouse_wheel_swap=1
player_priority=36
thru_priority=36
sysex_buffer_size=64
